<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ site.title }}</title>
    <meta name='description' content={{ site.description }}>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json" />

    <link rel="preload" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"></noscript>
    <link href="/assets/styles/tailwind.css" rel="stylesheet" />
    <link href="/assets/styles/index.css" rel="stylesheet" />
    <script>
      const isDarkMode = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
      if (isDarkMode()) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>

  <body class="dark:text-white dark:bg-black">
    {{ content | safe }}

  <script>
    document.getElementById("toggleDarkMode").addEventListener("click", function() {
      if (isDarkMode()) {
        localStorage.theme = 'light'
        document.documentElement.classList.remove('dark')
        document.getElementById("toggleDarkMode").textContent="Dark mode";
      } else {
        localStorage.theme = 'dark'
        document.documentElement.classList.add('dark')
        document.getElementById("toggleDarkMode").textContent="Light mode";
      }
    });
  </script>

    <p>
        点击这个词：<span id="word" style="color:blue; cursor:pointer;">点击我</span>
    </p>

    <script>
        // 获取页面中的元素
        const wordElement = document.getElementById('word');

        // 初始的词
        const originalText = "点击我";
        const changedText = "你点击了我";

        // 点击事件处理
        wordElement.addEventListener('click', function() {
            if (wordElement.textContent === originalText) {
                wordElement.textContent = changedText;  // 改变文字
            } else {
                wordElement.textContent = originalText;  // 恢复原始文字
            }
        });
    </script>





  </body>
</html>
