title: In love we trust

baseurl: "" # the subpath of your site, e.g. /blog

url: "http://blog.ashang.org"

github_username: ashang

# Build settings
markdown: kramdown

theme: jekyll-theme-merlot

plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
