<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>SubscribeME</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
----
<footer class="container site-footer">
    <div class="inner">
      <div class="footer-col footer-col-2">
        <ul>
          {% if site.twitter_username %}
            <li> {% include icon-twitter.html username=site.twitter_username %} </li>
          {% endif %}
        </ul>
        <div class="social-links">
          {% if site.codepen_username %}
            <a href="https://codepen.io/{{ site.codepen_username }}"><i class="fa fa-codepen" aria-hidden="true"></i><span class="screen-reader-text">Codepen</span></a>
          {% endif %}
          {% if site.linkedin_username %}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" ><i class="fa fa-linkedin" aria-hidden="true"></i><span class="screen-reader-text">LinkedIn</span></a>
          {% endif %}
          {% if site.medium_username %}
            <a href="https://medium.com/{{ site.medium_username }}"><i class="fa fa-medium" aria-hidden="true"></i><span class="screen-reader-text">Medium</span></a>
          {% endif %}
          {% if site.github_username %}
            {% include icon-github.html username=site.github_username %}
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github" aria-hidden="true"></i><span class="screen-reader-text">GitHub</span></a>
            <a href="https://github.com/{{site.github_username}}" target="_blank"><img src="/img/icon/github.svg" class="social-icon"></a>
          {% endif %}
          {% if site.author.linkedin %}
            <a href="https://linkedin.com/in/{{site.author.linkedin}}" target="_blank"><img src="/img/icon/linkedin.svg" class="social-icon"></a>
          {% endif %}
        </div>
    </div>

  <div class="main">
    {%- assign _site_author = site.author -%}
    {%- if _site_author.type == 'organization' -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Organization' -%}
    {%- else -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Person' -%}
    {%- endif -%}

    <div itemscope itemtype="{{ _site_author_itemtype }}">
      <meta itemprop="name" content="{{ _site_author.name }}">
      {%- assign _site_author_url = _site_author.url | default: '/'-%}
      {%- include snippets/get-nav-url.html path=_site_author_url -%}
      {%- assign _site_author_url = __return -%}
      <meta itemprop="url" content="{{ _site_author_url }}">
      {%- if _site_author.bio -%}
        <meta itemprop="description" content="{{ _site_author.bio }}">
      {%- endif -%}
      <div class="footer__author-links">
        {%- include author-links.html author=_site_author -%}
      </div>
    </div>

  <!-- Custom Theme JavaScript -->
  <script src="{{ "/js/hux-blog.min.js " | prepend: site.baseurl }}"></script>

  <!-- async load function -->
  <script>
      function async(u, c) {
        var d = document, t = 'script',
      o = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
        s.parentNode.insertBefore(o, s);
      }
  </script>

  <!-- Highlight.js -->
<!--
  <script>
      async("https://cdn.bootcss.com/highlight.js/8.6/highlight.min.js",function(){
    hljs.initHighlightingOnLoad();
      })
      // only load tagcloud.js in tag.html
      if($('#tag_cloud').length !== 0){
    async("/js/jquery.tagcloud.js",function(){
        $.fn.tagcloud.defaults = {
      //size: {start: 1, end: 1, unit: 'em'},
      color: {start: '#bbbbee', end: '#0085a1'},
        };
        $('#tag_cloud a').tagcloud();
    })
      }
  </script>
  <link href="https://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">
-->

<!--
     Because of the native support for backtick-style fenced code blocks
     right within the Markdown is landed in Github Pages,
     From V1.6, There is no need for Highlight.js,
     so Huxblog drops it officially.

     - https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0
     - https://help.github.com/articles/creating-and-highlighting-code-blocks/
     - https://github.com/jneen/rouge/wiki/list-of-supported-languages-and-lexers
-->
<!--
    <script>
        async("http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function(){
            hljs.initHighlightingOnLoad();
        })
    </script>
    <link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">
-->


  {% if page.plchart %}
  <!-- jquery.tagcloud.js -->
  <script>
    // https://stackoverflow.com/questions/9975810/make-iframe-automatically-adjust-height-according-to-the-contents-without-using
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }

    $(document).ready(function () {
        var $chart = document.querySelector("#chart");
        $chart.onload = function () {
            resizeIframe($chart)
        }
        window.addEventListener("resize", () => {
            resizeIframe($chart)
        });
    })
  </script>
  {% endif %}


  {% if page.title == 'Archive' %}
  <!-- jquery.tagcloud.js -->
  <script>
    async('{{ "/js/jquery.tagcloud.js" | prepend: site.baseurl }}', function () {
        $.fn.tagcloud.defaults = {
            //size: {start: 1, end: 1, unit: 'em'},
            color: { start: '#bbbbee', end: '#2f93b4' },
        };
        $('#tag_cloud a').tagcloud();
    })
  </script>
  <script src='{{ "/js/archive.js " | prepend: site.baseurl }}'></script>
  {% endif %}

  <!--fastClick.js -->
  <script>
    async("//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js", function () {
        var $nav = document.querySelector("nav");
        if ($nav) FastClick.attach($nav);
    })
  </script>

<!-- Simple Jekyll Search -->
<script src="{{ "/js/simple-jekyll-search.min.js" | prepend: site.baseurl }}"></script>

<!-- Service Worker -->
{% if site.service-worker %}
<script src="{{ "/js/snackbar.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/js/sw-registration.js " | prepend: site.baseurl }}"></script>
{% endif %}

  <!-- Simple Jekyll Search -->
  <script>
    // https://stackoverflow.com/questions/1912501/unescape-html-entities-in-javascript
    function htmlDecode(input) {
        var e = document.createElement('textarea');
        e.innerHTML = input;
        // handle case of empty input
        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }

    SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('search-results'),
        json: '/search.json',
        searchResultTemplate: '<div class="post-preview item"><a href="{url}"><h2 class="post-title">{title}</h2><h3 class="post-subtitle">{subtitle}</h3><hr></a></div>',
        noResultsText: 'No results',
        limit: 50,
        fuzzy: false,
        // a hack to get escaped subtitle unescaped. for some reason,
        // post.subtitle w/o escape filter nuke entire search.
        templateMiddleware: function (prop, value, template) {
            if (prop === 'subtitle' || prop === 'title') {
                if (value.indexOf("code")) {
                    return htmlDecode(value);
                } else {
                    return value;
                }
            }
        }
    });

    $(document).ready(function () {
        var $searchPage = $('.search-page');
        var $searchOpen = $('.search-icon');
        var $searchClose = $('.search-icon-close');
        var $searchInput = $('#search-input');
        var $body = $('body');

        $searchOpen.on('click', function (e) {
            e.preventDefault();
            $searchPage.toggleClass('search-active');
            var prevClasses = $body.attr('class') || '';
            setTimeout(function () {
                $body.addClass('no-scroll');
            }, 400)

            if ($searchPage.hasClass('search-active')) {
                $searchClose.on('click', function (e) {
                    e.preventDefault();
                    $searchPage.removeClass('search-active');
                    $body.attr('class', prevClasses);  // from closure
                });
                $searchInput.focus();
            }
        });
    });
  </script>

	<script src="/js/ephesus.js"></script>
	<script type="text/javascript">
		if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
			document.documentElement.setAttribute('data-theme', 'dark');
			document.getElementById('mode-switcher').classList.add('active');
		}
	</script>

    <script type="text/javascript">
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.setAttribute('data-theme', 'dark');
        document.getElementById('mode-switcher').classList.add('active');
      }
    </script>


</footer>
